@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-wf-border;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-wf-bg text-wf-text;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-wf-surface;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-wf-border rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-wf-muted_text;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
